{% extends "base_dashboard.html" %}
{% block title %}Jobs{% endblock %}
{% block content %}

<div class="card">
    <h2 style="margin-bottom:20px;">Latest Job Opportunities</h2>

    {% for job in jobs %}
        <div class="post-card">
            <h3>
                <a href="{% url 'job_detail' job.id %}" class="job-link">
                {{ job.title }}
                </a>
            </h3>
            <p>{{ job.description }}</p>
            <div class="meta">
                📍 {{ job.location }} |
                🗓 Deadline: {{ job.deadline }}
            </div>
        </div>
    {% empty %}
        <div class="empty-state">No jobs available.</div>
    {% endfor %}
</div>

{% endblock %}