{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="navbar">
        <h3>Alumni Portal</h3>
        <div class="nav-links">
            <a href="/alumni-list/">Directory</a>
            <a href="/logout/">Logout</a>
        </div>
    </div>

    <div class="container">
        <h2>Welcome, {{ alumni.name }}</h2>

        <p><strong>Email:</strong> {{ alumni.email }}</p>
        <p><strong>Batch:</strong> {{ alumni.batch }}</p>
        <p><strong>Department:</strong> {{ alumni.department }}</p>
    </div>

</body>
</html>
